.activi_head{
    font-size:20px;
    padding:6px 22px;
    border-radius:10px;
    margin-bottom:15px;
    display: inline-block;
    width:100%;
}
#ac{
    background-color:white;
}

.activi_head i{
    float:right;
}
#img1{
    width:100%;
    border-width:2px;
    border-color:blueviolet;
    height:800px
}

#marqueestyle{
    background-color: darkblue;
    color:yellow;
}
#cu{
    background-color:white
}

#h2{
    font-family: cursive;
    color:violet;
}
#ca{
    background-color:white;
}

#som{
    width:100%;
    
}
